.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 1200px;
    border-radius: 20px;
    margin-top: 10px;
 
}
.label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    

}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.lab-check{
    display: flex;
     font-weight: 500;
    width: 200px;
}
.input-check{
    width: 300px;
}